<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/index.css">

    <title>Bot Controls</title>
  </head>
  <body>
    <div class="form-signin">
      <div class="text-center mb-4">
        <img class="mb-4" src="img/icon.svg" alt="" width="200">
        <h1 class="h3 mb-3 font-weight-normal">Bot</h1>
        <p>
          Use the following controls to manipulate the <code>bot</code>.<br />
          You can open a new bot instance by clicking <a href="/bot" target="_blank">here</a>.
        </p>
      </div>

      <div class="form-label-group">
        <input id="message" class="form-control" placeholder="Message to Speak" autocomplete="off" autofocus>
        <label for="message">Message To Speak</label>
        <button id="speak-button" class="btn btn-lg btn-primary btn-block">Speak</button>
      </div>

      <button id="activate-countdown-button" class="btn btn-lg btn-secondary btn-block">Activate Countdown</button>
      <button id="reset-button" class="btn btn-lg btn-danger btn-block">Reset</button>

    </div>
    <!-- Optional JavaScript -->
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/index.js"></script>
  </body>
</html>