body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  background-color: #000000;
  overflow: hidden;
}

#bot-svg {
  height: 90vh;  
}

/*
.fullscreen-container {
  position: fixed; 
  top: 1%; 
  left: 1%;
  transform: translate(-1%, -1%);
  text-align: center;
}
*/

.fullscreen-container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 100px;
}


.fullscreen-image {
  max-width: 80vw;
  max-height: 100vh;
  width: auto;
  height: auto;
  display: block;
}
